<%- include partials/head.ejs %>

<%- include partials/nav.ejs %>

    <main>
      <div class="row justify-content-center content">
        <%- include partials/current %>
        <hr class="d-block d-sm-block d-md-none">
        <%- include partials/city %>
      </div>
    </main>
    
  <%- include partials/footer.ejs %>